.container {
  display: flex;  
  flex-direction: column;
  justify-content: left;
  gap: 10px;
  cursor: auto;
  margin-top: 10px;
  gap: 10px;  
}

.logo img {
  max-width: 5%;
  min-height: 5%;  
  margin-right: 10px;
  border-radius: 10px;  
}

.purchase_type {
  color: aquamarine;
}